<VirtualHost *:{{ httpd_ssl_port }}>

	ServerName {{ item.domain }}
	ServerAdmin admin@{{ item.domain }}

	ErrorLog {{ httpd_logs }}/{{ item.domain }}/ssl_error.log
	CustomLog {{ httpd_logs }}/{{ item.domain }}/ssl_access.log combined

	DocumentRoot {{ item.documentroot }}

	<Directory {{ item.documentroot }}>
		AllowOverride All
		Require all granted
	</Directory>

	## SSL directives
	SSLEngine on
	SSLCertificateFile     "{{ httpd_ssl_path }}/{{ item.ssl.cert }}"
	SSLCertificateKeyFile  "{{ httpd_ssl_path }}/{{ item.ssl.key }}"

</VirtualHost>
